$background-color: #fff;
$text-color: #262833;

.color-box {
   margin-bottom: 1rem;
   .color-container {
      display: flex;
      justify-content: center;
      padding: 3rem 0;
    //   border-bottom: 1px rgb(202, 202, 202) solid;
   }

   h2 {
      padding: 0;
      margin: 0;
      line-height: 3rem;
      -webkit-text-stroke: 0.2px rgb(32, 32, 32); /* width and color */
      font-family: Trebuchet MS (sans-serif);
      font-size: 2rem;
      background-color: black;
   }
}

.color-vals {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;

   .val {
      margin-bottom: 1rem;
      display: flex;
      > * {
         flex: 1;
      }
   }
   .hex {
      width: 100%;
      display: flex;
      background-color: white;
      border: 1px rgb(235, 235, 235) solid;
      .ball {
         height: 3rem;
         border-radius: 50%;
         width: 3rem;
         margin: 0 5px;
      }
      input {
         flex: 1;
         width: 80%;
         text-align: center;
         font-size: 20px;
         transition: 0.2s;
         border: 1px rgb(235, 235, 235) solid;
         outline: none;

         &:hover {
            border: 1px rgb(205, 205, 205) solid;
         }
         &:focus {
            border: 1px purple solid;
         }
      }
   }

   .rgb {
   }
}

.tabs {
   margin-bottom: 1.5rem;
   background-color: white;
}

.harmony {
   .color-container {
   }
   height: 5rem;
   display: flex;
   align-items: center;
   padding-left: 0.5em;
   .color {
      border-radius: 7px;
      margin: 0 -0.5em;
      width: 1.5rem;
      height: 3rem;
      transition: 1s;
      &:first-child {
         //  margin: 0;
      }
   }
   &:hover {
      > * {
         margin: 0 5px;
         width: 4rem;
      }
   }
   border: 1px rgb(235, 235, 235) solid;
   padding-bottom: 2em;
}
