$background-color: #fff;
$text-color: #262833;



.color-vals {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;

   .val {
      margin-bottom: 1rem;
      display: flex;
      > * {
         flex: 1;
      }
   }
   .hex {
      width: 100%;
      display: flex;
      background-color: white;
      border: 1px rgb(235, 235, 235) solid;
      .ball {
         height: 3rem;
         border-radius: 50%;
         width: 3rem;
         margin: 0 5px;
      }
      input {
         flex: 1;
         width: 80%;
         text-align: center;
         font-size: 20px;
         transition: 0.2s;
         border: 1px rgb(235, 235, 235) solid;
         outline: none;

         &:hover {
            border: 1px rgb(205, 205, 205) solid;
         }
         &:focus {
            border: 1px purple solid;
         }
      }
   }

   .rgb {
   }
}

.tabs {
   margin-bottom: 1.5rem;
   background-color: white;
}

.harmony {
   .color-container {
   }
   height: 5rem;
   display: flex;
   align-items: center;
   padding-left: 0.5em;
   .color {
      border-radius: 50%;
      // margin: 0 -0.5em;
      width: 4rem;
      height: 4rem;
      transition: .2s;
      &:first-child {
         //  margin: 0;
      }
      margin: 0 5px;
   }
   &:hover {
      > * {
         width: 4rem;
      }
   }
   border: 1px rgb(235, 235, 235) solid;
   padding-bottom: 2em;
}
