.palette {
   border-radius: 7px;
   position: relative;
   .inside {
      position: absolute;
      filter: blur(2px);
      z-index: 1;
      background: -webkit-linear-gradient(0deg, rgba(83, 88, 94, 0.425) 10%, rgba(255, 255, 255, 0.075) 100%);
      width: 100%;
      height: 100%;
   }

   .color {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      > div {
         // border: 1px black solid;
         display: flex;
         // line-height: 120%;
         span {
            border-right: 1px black solid;
            // height: 100%;
            padding: 16px 0;
            
            width: 30%;
            margin: 2px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .colors {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            // border: 1px black solid;
            // border-left:1px black solid ;
            .col {
               width: 3rem;
               height: 3rem;
               border-radius: 50%;
               margin: 0 3px;
               transition: .3s;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }
}
