.nav-container {
}

.brand-colors-wrapper {
   //    @media screen and (max-width: 768px) {
   //       display: none;
   //       position: fixed;
   //    }

   display: flex;
   //    margin: 1em auto 0;
   //    gap: 2em;
   font-size: 11px;
   > * {
      flex: 1;
      transition: 0.1s;
   }

   .brand-color {
      position: relative;
      display: flex;
      transition: 0.3s;

      &:hover {
         .bg {
            width: 100%;
         }
      }
      .bg {
         width: 70%;
      }
      .buttons {
         position: absolute;
         right: 1em;
         display: flex;
         align-items: center;
         height: 100%;
         top: 0;
         opacity: 0;
         .lock {
         }
         .change {
            position: relative;
            input {
               position: absolute;
               opacity: 0;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
            }
         }
      }
      &:hover {
         .buttons {
            opacity: 1;
         }
      }
      height: 2rem;
      width: 6rem;
      .bg {
         cursor: pointer;
         height: 100%;
         border: 1px rgba(128, 128, 128, 0.13) solid;
      }
   }
}
