.swatch-list-container {
   background: rgb(255, 255, 255);
   border-radius: 25px 25px 0 0;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px var(--neutral600) solid;
   position: relative;
   @media screen and (min-width: 768px) {
      gap: 1.5rem;
      padding: 1.5rem;
   }
   .desc {
      display: flex;
      height: 2em;
      font-size: clamp(0.8rem, 2.5vw, 1rem);
      button {
         border: 1px var(--neutral900) solid;
         flex: 6;
         // margin: 0 auto;
         @media screen and (max-width: 768px) {
            width: 100%;
         }
         border-radius: 5px;
      }

      select {
         border: 1px var(--neutral900) solid;
         flex: 4;

         // margin: 0 auto;
         @media screen and (max-width: 768px) {
            width: 100%;
         }
         border-radius: 5px;
      }
   }
   .swatch-list {
      display: flex;
      // gap: .1rem;
      // border: 1px red solid;
      height: clamp(10vw, 15vw, 15vh);
      // aspect-ratio: 1/1;
      // height: 300px;
      .hex {
      }
   }
}

.swatch {
   height: 100%;
   flex: 1;
   margin-bottom: 1em;
   display: flex;
   flex-direction: column;
   &:hover {
      .bottom-line {
         border-bottom: 1px var(--secondary300) solid;
      }
   }
   .color {
      // border-right: 1px rgba(255, 255, 255, 0.137) solid;
      // height: 100%;
      width: 100%;
      flex: 3;
   }

   .bottom-line {
      // padding: 10px;
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: clamp(0.8rem, 2.5vw, 1rem);
      // width: 80%;
      padding: 0.5rem 0;
      .hex {
         // flex: 1;
      }
      border-bottom: 1px rgba(0, 0, 0, 0) solid;
      transition: 0.2s;
      font-size: clamp(0.8rem, 2.5vw, 1.2rem);
   }
   .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 35%;
   }
   .color-picker {
      position: relative;
      input {
         border: none;
         width: 1em;
         height: 1em;
         cursor: pointer;
         opacity: 0;
         position: absolute;
         z-index: 10;
      }
   }

   .lock {
      width: 1em;
      cursor: pointer;
   }

   .generate {
   }
}

.swatch {
   display: relative;
   .options {
      color: white;
      background-color: var(--info500);
      border: 1px black solid;
      position: absolute;
      bottom: -1.2rem;
      display: flex;
      padding: 0.3rem;
      z-index: 1000;
      // padding-left: 0.5rem;
      // padding-right: 0.5rem;
      .style-name {
         width: 5em;
         text-align: center;
         padding: 0.3rem;
         outline: 1px black solid;
         color: black;
      }
      .style-sat {
         display: flex;
         input {
            background-color: black;
            outline: 1px black solid;
            padding: 0.3rem;
            width: 3rem;
            text-align: center;
         }
      }

      .add {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0.3rem;
         width: 2rem;
         color: var(--success900);
         background-color: var(--success300);
         cursor: pointer;
      }

      &.active {
         display: flex;
      }
      &.hidden {
         display: none;
         border: 1px black solid;
         color: red;
      }
   }

   .hidden {
      display: none;
   }
}
