.brand-colors {
   display: flex;
   > * {
      transition: 2s;
   }
}

.header {
   .brand-colors {
      @media screen and (max-width: 568px) {
         flex-direction: column;
         height: 30%;
         gap: 1rem;
         display: none;
      }
   }
}

.brand-color {
   flex: 1;
   position: relative;
   height: 100%;
   .locked {
      position: absolute;
      top: -0.5em;
      left: -0.5em;
      width: 1em;
      height: 1em;
      z-index: 10;
      color: white;
   }

   .hex {
      z-index: 5;
      position: absolute;
      color: black;
      font-size: 11px;
      position: absolute;
      top: 52%;
      left: 15%;
      transform: translate(-0%, -50%);
      &.copied {
         transition: 0.05s;
         border: 1px white solid;
         background-color: white;
         font-size: 14px;
      }
   }
   &:hover {
      .space {
         flex: 0;
      }

      .actions {
         display: flex;
         opacity: 1;
         transition: 0.2s;
         transform: translateX(50%);
      }
   }

   .role {
      z-index: 2;
      position: absolute;
      top: -1.5rem;
      left: 2%;
   }

   .bg-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      > * {
         transition: 0.2s;
         flex: 1;
      }
      .space {
         background-color: transparent;
      }
      .fill {
         z-index: 1;
         flex: 2;
      }
   }

   .actions {
      position: absolute;
      right: 6px;
      display: flex;
      gap: 0.2em;
      bottom: 0;
      right: 25%;
      opacity: 0;
      z-index: 1;
      font-size: 16px;

      > * {
         width: 1.3rem;
         // width: clamp(16px, 1vw, 20px);
         font-size: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: rgb(24, 24, 24);

         border: none;
         cursor: pointer;
         color: rgb(211, 211, 211);
         border-radius: 5px;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
         height: 1rem;
      }
      .copy {
      }
      .lock {
      }
      .change {
         position: relative;
         align-self: center;
         z-index: 1;
         .circle {
            z-index: 10;
            border-radius: 50%;
            width: 6px;
            height: 6px;
         }
         input {
            z-index: 15;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
         }
      }
   }
}
