.sunset-container {
    margin: 0 auto;
   header {
      padding: 0 3rem;
      font-style: italic;

      h3 {
         margin-inline-start: 10rem;
      }
   }

   .sunset-wrapper {
      position: relative;
      // opacity: .1;
      .sun-wrapper {
         z-index: 0;
         position: absolute;
         opacity: .5;
         top: -60%;
         right: 20%;
         margin: 0 auto;
         width: 15%;
         border-radius: 50%;
         aspect-ratio: 1/1;
         display: flex;
         flex-direction: column;
         overflow: hidden;
        //  -webkit-box-shadow: 0px 0px 166px 35px rgba(255, 217, 0, 0.3);
        //  -moz-box-shadow: 0px 0px 166px 35px rgba(255, 217, 0, 0.3);
        //  box-shadow: 0px 0px 150px 0px rgba(255, 0, 0, 0.2);
         .sun-shade {
            height: 1rem;
            width: 100%;
            opacity: 0.7;
         }
      }
      z-index: 1;
      margin: 0 auto;
      width: 100%;
      aspect-ratio:9/1;
      display: flex;
      flex-direction: column;
      .sunset-shade {
         opacity: 0.9;
         z-index: 1;
         flex: 1;
         width: 100%;
      }
   }
}
