.main-layout {
   @include mainLayoutGrid();
   grid-template-rows: 90px min-content max-content max-content 1fr min-content;
   .nav-bar{
      grid-row: 1 / 2;
   }

   .second-page{
      grid-column: 1/-1;
   }


}



.flex {
   display: flex;
}
