// .color-box {
//    .color-vals {
//       display: flex;
//       flex-direction: column;
//       color: white;
//       border: 1px white solid;
//       .val {
//          display: flex;
//          //  width: 5rem;
//          border: 1px white solid;
//          justify-content: center;
//          align-items: center;
//          color: white;
//          font-size: 1.5rem;
//          > * {
//             flex: 1;
//          }
//          div {
//             border: 1px black solid;
//          }

//          input {
//             width: 2.5rem;
//             margin: 0 1rem;
//          }
//       }
//    }
// }

// .color-box {
//    margin-bottom: 1rem;
//    .color-container {
//       display: flex;
//       // justify-content: center;
//    }

//    h2 {
//       padding: 0;
//       margin: 0;
//       line-height: 3rem;
//       -webkit-text-stroke: 0.2px rgb(32, 32, 32); /* width and color */
//       font-family: Trebuchet MS (sans-serif);
//       font-size: 2rem;
//       background-color: black;
//    }
// }

.color-box {
   position: relative;

   // border: 1px green solid;
   .color-picker {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      // border: 1px green solid;
      position: absolute;
      margin: 0 auto;
      width: clamp(25vw, 200px, 100%);
   }
}

@include tablet-desktop {
   .color-box {
      // border: 1px blue solid;
   }

   .color-container {
      // margin-top: 6rem;
      // width: clamp(150px, 30vw, 100%);
      // margin-bottom: 3rem;
      .color-picker {
      }
   }
}

.harmony-container {
   // border: 1px red solid;

   .title {
      position: relative;
      bottom: 2rem;
      -webkit-text-stroke: 0.2px rgb(32, 32, 32); /* width and color */
      font-family: Trebuchet MS (sans-serif);
      font-size: 2rem;
      background-color: black;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
   }
}

.base-colors{
   // border: 1px black solid;
}